table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%; 
    margin: 0 auto;
}

       th {
       	   border: 1px solid #000000;
           text-align: left;
           padding: 8px;
	   font-size: 95%;
           /* background-color: #eeeeee; */
	   background-color: #f8f9f9;
       }

       td {
	   border: 1px solid #000000;
           text-align: left;
           padding: 6px;
	   font-size: 95%;
       }

       .ct {
	   font-family: arial, sans-serif; 
	   font-weight: bold;
           font-size: 130%; 
	   text-align: center;
       }

.form {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%; 
    margin: 0 auto;
    /* background-color: #eeeeee; */
    background-color: #f8f9f9;    
}

       .lbl {
       	   border: 1px solid #000000;
           text-align: left;
           padding: 6px;
	   /* font-weight: bold; */
	   font-weight: 600;	   
           /* font-size: 90%; */
       }
       .fld {
       }

